
	

<div class="container">
  <div class= "col-md-8 col-md-offset-2 top30 ">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/main/index">Home</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class= "col-md-8 col-md-offset-2 top30 ">
    <ul class="nav nav-tabs" role="tablist">
      <li><a href="/checklists/en_cours">En cours</a></li>
      <li><a href="/checklists/terminees">Terminée</a></li>
      <li><a href="/checklists/">Modèles</a></li>
      <li><a href="/checklists/new">Créer un modèle</a></li>
    </ul>
  </div>
</div>


<% if true %>


<div class="container">

  <div class="row row-offcanvas row-offcanvas-right top30">

    <div class="col-md-8 col-md-offset-2">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>
      <!-- <div class="jumbotron">
        <h1>Home Page CheckIT</h1>
        <p>Quoi faireee.</p>
      </div> -->
      <div class="row">
        <div class="col-6 col-sm-6 col-lg-4">
          <h2>Checklist en cours</h2>
          <p>Allez voir toutes les checklists commencées.<br></p>
          <p><a class="btn btn-default" href="/checklists/en_cours" role="button">Checklist en Cours &raquo;</a></p>
        </div><!--/span-->
        <div class="col-6 col-sm-6 col-lg-4">
          <h2>Checklist terminées</h2>
          <p>Allez voir toutes les checklists terminées.<br/></p>
          <p><a class="btn btn-default" href="/checklists/terminees" role="button">Checklist Terminées &raquo;</a></p>
        </div>           
        <div class="col-6 col-sm-6 col-lg-4">
          <h2>Templates</h2>
          <p>Allez voir tout les modèles de checklist que vous pouvez démarrer ou créez votre propre modèle.</p>
          <p><a class="btn btn-default" href="/checklists/" role="button">Templates &raquo;</a></p>
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/span-->

   <!--  <div class="col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
      <div class="list-group">
        <a href="#" class="list-group-item active">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
      </div>
    </div>	ce qui suit et un commentaire<span> -->
  </div><!--/row-->


</div><!--/.container-->



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="offcanvas.js"></script>









<% if false %>
<div class="container top30">
	<h1><center>Home page</center></h1>
</div>
<div class="container">
	<div class= "col-md-8 col-md-offset-2 top30">
		<ul class="nav nav-tabs" role="tablist">
		  <li><a href="/checklists/en_cours">En cours</a></li>
		  <li><a href="/checklists/terminees">Terminée</a></li>
		  <li><a href="/checklists/">Templates</a></li>
		  <li><a href="/checklists/new">Create template</a></li>
		</ul>
	</div>
</div>
	
<% end %>


<% end %>