
<h1>All the checklists</h1>

<% n =0 %>

<% @checklists.each do |checklist| %>
	<%= n = n+1 %>.	
	<b>Title : </b><%=link_to checklist.title, checklist_path(checklist) %><br>
	<b>Description : </b><%= checklist.description %><br>
	<%=link_to "Démarrer", 'checklists#start'  %><br>
	<br><br><br>

<% end %>
