<h2>V.1</h2>

<div class="wrap clearfix">
  <!--Avatar -->
  <div class="col-sm-4 col-xs-12 avatar">
    <img src="http://www.placehold.it/300x200&text=Avatar" alt="" />
    <p>Donkey McButt</p>
  </div>
  <!-- End Avatar -->
  
  <div class="col-sm-8 col-xs-12">    
    <div class="icons col-xs-12">
      <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
      <a href="#"><span class="glyphicon glyphicon-user"></span></a>
      <a href="#"><span class="glyphicon glyphicon-bookmark"></span></a>
      <a href="#"><span class="glyphicon glyphicon-refresh"></span></a>
      <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
    </div>
    <div class="col-xs-12 content">
      <h2>Label MacMule</h2>
      <p>This is the first paragraph of the small small section. It is pretty short as Donkey McButt doesn't like to waste words.</p>
      <p>
        When Donkey McButt gets more descriptive the words and lines get significantly longer. This can often lead to problematical issues which reqiuire more work and effort to resolve as things get trickier when things get better.
      </p>
      <p>
        Which is why it is important to keep things concise when ending.
      </p>
      
    </div>
  </div>
</div>
<h2>V.2</h2>
<div class="row wrap clearfix v2">
  <!--Avatar -->
  <div class="col-sm-4 col-xs-12 avatar">
    <img src="http://www.placehold.it/300x200&text=Avatar" alt="" />
    <p>Donkey McButt</p>
     <div class="icons col-xs-12">
      <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
      <a href="#"><span class="glyphicon glyphicon-user"></span></a>
      <a href="#"><span class="glyphicon glyphicon-bookmark"></span></a>
      <a href="#"><span class="glyphicon glyphicon-refresh"></span></a>
      <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
    </div>
  </div>
  <!-- End Avatar -->
  
  <div class="col-sm-8 col-xs-12">    
   
    <div class="col-xs-12 content" style="margin-bottom:100px;">
      <h2>Label MacMule</h2>
      <p>This is the first paragraph of the small small section. It is pretty short as Donkey McButt doesn't like to waste words.</p>
      <p>
        When Donkey McButt gets more descriptive the words and lines get significantly longer. This can often lead to problematical issues which reqiuire more work and effort to resolve as things get trickier when things get better.
      </p>
      <p>
        Which is why it is important to keep things concise when ending.
      </p>
      
    </div>
  </div>
</div>
<div class="row">
  
  <div class="alerts">

  <div class="alert-message warning">
    <a class="close" href="#">×</a>
    <p><strong>Holy guacamole!</strong> Best check yo self, you’re not <a href="#">looking too good</a>.</p>
  </div>

  <div class="alert-message error">
    <a class="close" href="#">×</a>
    <p><strong>Oh snap!</strong> Change this and that and <a href="#">try again</a>.</p>
  </div>

  <div class="alert-message success">
    <a class="close" href="#">×</a>
    <p><strong>Well done!</strong> You successfully <a href="#">read this</a> alert message.</p>
  </div>

  <div class="alert-message info">
    <a class="close" href="#">×</a>
    <p><strong>Heads up!</strong> This is an alert that needs your attention, but it’s not <a href="#">a huge priority</a> just yet.</p>
  </div>
</div>

</div>